{
  "extends": "airbnb-base",
  "rules": {
    "indent": ["error", 2],
    "no-underscore-dangle": "off",
    "import/no-unresolved": [ // Отключили ругань на импорт модулей ноды
      2,
      { "caseSensitive": false }
    ],
    "import/newline-after-import": "off", // Отключили ругань на импорт модулей сразу на следующей строке
    "no-console": "off", // Нам нужен  console.log в проекте
    "no-useless-escape": "off" // Отключить ругань на экранирование символов в регулярных выражениях (\.)
  }
}
